.content { width: 100%; }
.content img { width: 100%; }
.content .banner { width: 100%; position: relative;}
.content .rule { width: 100%; background: url("../img/ali-panic-buying/rule_bg.png") no-repeat;text-align: center;color: #fff;background-size: 100% 100%;}
.content .banner .btn-buy{display: block;position: absolute;bottom: 9%;left: 48.5%;border: 1px solid #fff; width: 21.5%;height: 2.8%;background: url("../img/ali-panic-buying/buy.png") no-repeat;background-size: 100%;}
.content .banner div{position: absolute;bottom: -7%;right: 11%; width: 20%;height: 10%;background: url("../img/ali-panic-buying/bg.png") no-repeat;background-size: 100%;}

.content .rule dl dt{padding-top: 12%;}
.content .rule dl dd{margin: 2% 0;}
.content .rule dl{padding-bottom:5%;}