.content .title{ position: relative; }
.content a{ position: absolute; top: 77%; left: 38%; display: block; width: 24%; height: 10%; }

.content .rules{ padding: 30px 8%; background: url(../img/bigPackages-fz/rule_bg.jpg) no-repeat; text-align: justify; }
.content dt{ margin-bottom: 10px; font-size: 18px; line-height: 18px; color: #5d6164; }
.content dd{ font-size: 14px; line-height: 20px; color: #595959; }
.content dd span{ color: #d4001a; }
