.content { background: url(../img/colourful-cake/body_bg.jpg); }
.content .cake-list { position: relative; }
.content .cake-list a { position: absolute; top: 69%; left: 32%; display: block; width: 36%; height: 30px; background-color:#fff000; border-radius: 15px; font-size: 14px; line-height: 30px; text-align: center; color: #673129; }
.content .cake-list a span { font-weight: bold; }
.content .rules { margin-top: 50px; padding: 6% 8%; background-color: #78483d; color: #fff; text-align: justify; }
.content dt { width: 30%; margin-bottom: 10px; }
.content dd { margin-left: 6%; line-height: 18px; }
