body{ max-width: 640px; margin: 0 auto; }
.content { background-color: #f0f0f0; }

.content .disc { text-align: center; color: #382624; }
.content .disc .discTitle { font-size: 32px; line-height: 40px; font-weight: bold; }
.content .disc .discTitle2 { margin-bottom: 20px; font-size: 16px; line-height: 16px; }
.content .disc .discTxt { font-size: 12px; line-height: 20px; }

.content .disc .address { width: 80%; margin: 0 auto; }
.content .disc .address p,
.content .disc .address li { font-size: 14px; line-height: 30px; color: #965b49; text-align: center;  }
.content .disc .address .addr-cur { margin: 20px auto 0; }
.content .disc .address .addr-cur i { display: inline-block; width: 5%; vertical-align: sub; }
.content .disc .address li { float: left; width: 30%; margin-right: 4%; border: 1px solid #965b49; border-radius: 15px; }
.content .disc .address li.cur { background-color: #965b49; color: #fff; }
.content .disc .address li:nth-of-type(3n) { margin-right: 0; }

.content .disc .tip2 { font-size: 26px; line-height: 36px; margin-top: 20px; }
.content .disc .info { font-size: 22px; line-height: 34px; color: #965b49;}
.content .disc .info span { font-weight: bold; }

.content .write-method { width: 94%; margin: 16px auto; padding: 10px 0; background-color: #fff; }
.content .write-method p { width: 84%; margin: 0 auto; font-size: 14px; line-height: 24px; color: #382624; }
.content .write-method .title { font-weight: bold; }
.content .write-method .text { text-align: justify; }
.content .write-method .tip { text-align: center; }

.content .btn-begin { display: block; width: 55%; background-color: #c50202; border-radius: 25px; margin: 0 auto; font-size: 16px; line-height: 50px; font-weight: bold; text-align: center; color: #fff; }

.content .cakes { width: 86%; margin: 36px auto 0; }
.content .cakes li { position: relative; float: left; width: 49%; margin: 0 2% 20px 0;}
.content .cakes li:nth-of-type(2n) { margin-right: 0; }
.content .cakes li .cake-hide,
.content .cakes li .price-hide { display: none; }
.content .cakes li p { font-size: 12px; line-height: 24px; text-align: center; color: #e66625; }
.content .cakes li p.cur { color: gray; }
.content .cakes li p .count { font-size: 14px; line-height: 24px; }
.content .cakes li a { position: absolute; bottom: 1%; left: 10%; display: block; width: 80%; height: 6%;/* background-color: red; opacity: .5; */}

.content dl { width: 88%; padding: 6%; background-color: #60433f; color: #fff; }
.content dt { margin-bottom: 12px; font-size: 16px; line-height: 16px; text-align: justify; }
.content dd { font-size: 12px; line-height: 18px; text-align: justify; }
