.container { background-color: #1e4b8c; color: #fff;}
.content .content-text p { width: 80%; margin: 0 auto; line-height: 20px; text-align: justify; }
.content .content-text a { display: block; width: 52%; padding: 12px 20px; background-color: #9d000d; border-radius: 24px; margin: 26px auto 40px; font-size: 16px; text-align: center; color: #fff; }
.content .prize-time { width: 56%; padding: 6px 0; background: url(../img/dinosaur-park/text_bg.jpg); border: 2px dashed #ccc4b4; border-radius: 6px; margin: 20px auto 30px; }
.content .prize-time p { font-size: 16px; line-height: 22px; text-align: center; color: #9d000d; }
.content .prize-time .time { font-weight: bold; }
.content .tips { width: 60%; margin: 0 auto; font-size: 14px; text-align: justify; }
.content .tips span { color: #f9e502; }
.content .logo { width: 36%; padding: 26px 0; margin: 0 auto; }
.mask { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.8);}
