html{ height: 100%; width: 100%; }
body{ height: 100%;}

::-webkit-input-placeholder {  font-family: "Arial","微软雅黑"; color: #515151; } 

.container { position: relative; height: 100%; background: url(../img/dinosaur-park/body_bg.jpg) no-repeat top center; background-size: cover;}

.content { position: absolute; top: 50%; left: 13%; width: 74%; z-index: 9999; }
.content .tel, .verification input, .verification .btn-reg { height: 44px; background-color: #fff; border: 2px #597fae solid; margin-bottom: 8px; border-radius: 6px; font-size: 16px; color: #515151; }
.content .tel i { float: left; display: inline-block; width: 18px; height: 28px; background: url(../img/dinosaur-park/icon_phone.png) no-repeat; background-size: contain; margin: 8px 6%; }
.content .tel input { float: left; width: 76%; height: 30px; border: 0px; margin-top: 8px; font-size: 16px; line-height: 30px; color: #515151; }
.verification input { float: left; width: 56%; text-align: center; }
.verification .btn-reg { float: right; display: inline-block; width: 40%; line-height: 44px; text-align: center; }
.content .tips { width: 88%; margin: 0 auto; color: #1e4b8c; }

.bottom { position: absolute; bottom: 0; left: 0; width: 100%; }
.bottom p { width: 40%; margin: 0 auto 14px; }
.bottom a{ display: block; width: 100%; height: 50px; background-color: #1e4b8c; font-size: 16px; line-height: 50px; text-align: center; color: #fff; }

