.content{ position: relative; color: #523030; }

.price{ position: absolute; width: 35%; right: 2%; }
.price .cake-type { font-size: 12px; }
.price .cake-type i { margin-left: 4%;  font-size: 14px; color:#af0000; font-style: normal; }
.price .cake-type span { display: inline-block; font-size: 20px; color:#af0000;} 
.price a { display: block; width:65%; margin-top: 5%; margin-right: 10%; float: right; }

.price1{ top: 20%; }
.price2{ top: 28%; }
.price3{ top: 48%; right: 60%; }
.price4{ top: 74%; }
.price5{ top: 82%; }

.text{ position: absolute; left: 5%;}
.text .cake-name { font-size: 12px; }
.text dl { width: 100%; }
.text dl dt { font-size: 16px; }
.text dl dd { width: 96%; margin: 4px 0 0; font-size: 12px; line-height: 14px; }

.text1{ top: 32%;}
.text2{ top: 57%;}
.text3{ bottom: 2%;}
