.content{ position: relative; }
.content a{ position: absolute; display: block; }
.content .a_button{ top: 18%; left: 50%; width: 64%; margin-left: -32%; }
.content .a_cake{ top: 27%; right: 7%; width: 20%; height: 8%; }
.content .a_wine{ top: 62%; right: 30%; width: 20%; height: 8%; }
.rules{ width: 100%; background-color: #d2d247; }
.rules dl{ width: 90%; margin: 0 auto; padding: 20px 0; color: #5f5f0e;}
.rules dl dt{ font-size: 16px; margin-bottom: 5px; }
.rules dl dd{ font-size: 12px; line-height: 18px; text-align: justify;}
