body { max-width: 640px; margin: 0 auto; }
.content { background-color: #f2f0f0; }
.content .info { position: relative; }
.content .info a{ position: absolute; top: 0; left: 34%; display: block; width: 32%; }

.content .rules { width: 90%;padding: 26px 5%; background-color: #594c52; text-align: center; color: #fff; }
.content .rules dt{ margin-bottom: 4px; line-height: 30px; font-size: 18px; }
.content .rules dd{ line-height: 20px; }
