.content { background-color: #fff; }
.content .info { position: relative; margin-bottom: 4%; }
.content .info a { position: absolute; top: 30%; right: 8%; display: block; width: 26%;}

.content dl { width: 80%; padding: 6% 10%; background-color: #000; color: #fff; }
.content dt { margin-bottom: 14px; font-size: 16px; line-height: 20px; }
.content dd { margin-bottom: 10px; font-size: 12px; line-height: 18px; }
