.content { background-color: #f0ebd5; }
.content .text { margin: 20px 0 30px; }
.content .coupon { position: relative; padding-bottom: 10%; }
.content .coupon a { position: absolute; bottom: 11%; left: 26.6%; width: 46.8%; height: 11%; }

.result-login .register-title { margin: 12% 0 8%; font-size: 18px; text-align: center; }
.result-login .frm { width: 80%; margin: 0 auto; }
.result-login li { margin-bottom: 10px; position: relative; }
.result-login li input { display: block; width: 100%; height: 40px; line-height: 40px; text-indent: 2.6em; -webkit-appearance: none; border: 1px solid #ddd; border-radius: 5px; outline: none; font-size: 12px; }
.result-login li .txt-vcode{ float: left; width: 60%; border-radius: 5px 0 0 5px; }
.result-login li #btn-vcode { float: left; width: 40%; height: 40px; line-height: 40px; margin-left: -4px; text-align: center; border: 1px solid #ddd; border-radius: 0 5px 5px 0; color: #fff; background-color: #8bade5; }
.result-login li a { font-size: 12px; }
.result-login li .icon-mobile { position: absolute; width: 10%; height: 70%; margin:3% 0 0 3%; background: url('../img/register-coupon/icon_mobile.png') no-repeat; background-size: contain; background-position: left center;  }
.result-login li .icon-vcode { position: absolute; width: 9%; height: 70%; margin:3% 0 0 3%; background: url('../img/register-coupon/icon_vcode.png') no-repeat; background-size: contain; background-position: left center;  }
.result-login #btn-register { display: block; width: 80%; height: 42px; margin: 0 auto; line-height: 42px; text-align: center; border-radius: 5px; background-color: #0e2f8f; color: #fff; margin-bottom: 40px; }

/* 注册结果 */
#mask-result { display: none; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; z-index: 999; }
#mask-result img { width: 100%; }
#mask-result .result { width: 73.4%; max-width: 500px; background: #fff; margin: auto; position: absolute; top: 50%; left: 0; right: 0; z-index: 9999; overflow: hidden; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
#mask-result .result .btn-result-close { display: block; position: absolute; top: 5%; right: 5%; width: 10.6%; z-index: 9999; }
#mask-result .result .result-content { width: 100%; }
#mask-result .result .result-content .result-info { display: none; width: 100%; }
#mask-result .result .result-true { position: relative; }
#mask-result .result .result-true a.btn-used { position: absolute; bottom: 8%; left: 32%; display: block; width: 36%; height: 30px; line-height: 30px; text-align: center; border-radius: 5px; background-color: #0e2f8f; color: #fff; }
