body { max-width: 640px; margin: 0 auto; }
.content { background-color: #dfeae3; }
.content .banner { position: relative; }
.content .banner .arrow { position: absolute; top: 49.2%; left: 80%; display: block; width: 2.5%; -webkit-animation: arrow 1s ease infinite; animation: arrow 1s ease infinite; }

.content .swiper-container { position: absolute; top: 9.7%; left: 12%; width: 75.6%; height: 81.6%; overflow: hidden; }
.content .swiper-slide .page01 { width: 60%; margin: 20% 0 0 27%; }
.content .swiper-slide .page02 { position: relative; width: 100%; }
.content .swiper-slide .page02 a { position: absolute; top: 23%; left: 61%; width: 30%; height: 5%; transform:rotate(-8deg); -webkit-transform:rotate(-8deg); }
.content .swiper-slide .page02 .btn-coupon { top: 76%; left: 7%; }


@-webkit-keyframes arrow { 
	0% { left: 80.5%; } 
	50% { left: 79.5%; } 
	100% { left: 80.5%; } 
}
@keyframes arrow { 
	0% { left: 80.5%; } 
	50% { left: 79.5%; } 
	100% { left: 80.5%; } 
}
