.content img { width: 100%; }
.content .banner, .content .cake, .content .rules { width: 100%; }
.content .cake { position: relative; }
.content .cake .btn { display: block; position: absolute; } 
.content .cake01 .btn { width: 32%; top: 45%; right: 10%; }
.content .cake02 .btn { width: 32%; top: 52%; left: 9%; }
.content .cake03 .btn { width: 32%; top: 44%; right: 11%; }

.content .rules { width: 80%;padding: 16px 10% 36px; background-color: #aa9691; text-align: justify; color: #fff; }
.content .rules dt { margin-bottom: 4px; line-height: 30px; font-size: 16px; }
.content .rules dd { position: relative; width: 97%; padding-left: 3%; font-size: 12px; line-height: 20px; }
.content .rules dd:after { position: absolute; top: 0; left: 0; display: inline-block; width: 2%; content: '♦';}
